<div class="wrapper">
  <header class="main_header clearfix">
    <div class="logo">
      <img src="http://ww3.sinaimg.cn/large/006tKfTcgy1feytl20vhzj305k05k74e.jpg" alt="eninstein">
      <h1>Rural <span>Teacher</span></h1>
    </div>
    <nav class="nav">
      <ul class="current">
        <a><%= link_to("Home", welcome_index_path) %></a>
        <a><%= link_to("Jobs", jobs_path) %></a>
        <% if !current_user %>
          <a><%= link_to("Sign up", new_user_registration_path) %> </a>
          <a ><%= link_to("login", new_user_session_path) %></a>
        <% else %>
          <a> <%= link_to("Admin", admin_jobs_path) %> </a>
          <a> <%= link_to("logout", destroy_user_session_path, method: :delete) %> </a>
        <% end %>
      </ul>
    </nav>
  </header>
</div>
